*{
    box-sizing: border-box;
}
body{
    max-width: 1480px;
    margin: 0 auto;
    background-color: #f5f8ff;
}

/* header section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

nav img{
    height: 82px;
    width: 135px;
    margin-top: 20px;
}

.ul-items{
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Inter", sans-serif;
}

.list-item{
    font-weight: bold;
}

.list-items{
    color: #8987A1;
}

.lists-i{
    position: relative;
    margin-left: -30px;
}

/* hero section */

.hero-section{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: flex-end;
    margin-top: 100px;
    max-width: 1140px;
    margin:100px auto;
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    font-family:  "Noto Serif", serif;
    margin-bottom: -10px;
}

.fresh-flower{
    color: #E95A08;
}

.hero-describ{
    font-family: "Inter", sans-serif;
    color: #8987A1;
    font-size: 22px;
}

/* main section */

.main-section-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-top: 80px;
    margin-bottom: -10px;
}

.our{
    color: #E95A08;
}

.main-section-describ{
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #8987A1;
    font-size: 22px;
}

/* card section */

.card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 60px;
    column-gap: 20px;
    max-width: 1140px;
    margin: 50px auto;
}

.card{
    height: 484px;
    width: 270px;
    font-family:  "Inter", sans-serif;
    text-align: center;
    color: black;
}

.card-name{
    font-size: 22px;
    font-weight: 500;
}

.card-price{
    font-size: 22px;
    font-weight: bold;
}

.card-button{
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    border: none;
    font-weight: 600;
    font-family:  "Inter", sans-serif;
    margin: 20px;
}

/* flower plant section */

.flower-plants-section{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin:200px auto;
    position: relative;
}

.trust-seller{
    position: absolute;
    bottom: 440px;
    left: 350px;
}

.image-size{
    height: 286px;
    width: 286px;
}

.flower-plant-section-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}

.flower-plant-section-describ{
    font-size: 22px;
    color:#8987A1;
    font-family:  "Inter", sans-serif;
    margin-bottom: 20px;
}

/* latest deals */

.image-flex, .flex-start{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 20px;
}

.flex-start{
    display: flex;
    flex-direction: column;
    column-gap: -100px;
    max-width: 1140px;
    margin: 0 auto; 
}

.image-point{
     background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("./assets/deal-bloom.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 201px;
    width: 367px;
    color: white;
    margin-top: 50px;
}

.image-point-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/deal-ana.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 201px;
    width: 367px;
    color: white;
    border-radius: 16px;
}


.image-point-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("./assets/deal-zabo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 50px auto;
    height: 423px;
    width: 753px;
    color: white;
    border-radius: 16px;
}

.only-for-font{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 20px;
}

.only-for-font-style{
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

.shop-now-1, .shop-now-2{
     font-family:  "Inter", sans-serif;
     font-weight: 500;
     border-bottom: 2px solid white;
}


.shop-now{
     border-bottom: 2px solid white;
     font-family:  "Inter", sans-serif;
     font-size: 28px;
     font-weight: 500;
}

/* join the colorful bunch */


.bunch-title{
    background-image: url("./assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bunch-heading{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 240px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: "Noto Serif", serif;
}

input{
   height: 50px;
   width: 644px;
   border: none;
}

.subs-button{
    width: 186px;
    height: 50px;
    background-color:#E95A08;
    border: none;
    color: white;
    font-family: 500;
    font-family:  "Inter", sans-serif;
    margin-left: -10px;
}

/* footer section */

footer{
    max-width: 1140px;
    margin: 50px auto;
}

.footer-section{
    display: flex;
    justify-content: space-between;
}

ol{
    display: flex;
    gap: 120px;
    color:#8987A1;
    font-size: 18px;
    font-family: "Noto Serif", serif;
}

ol, .none-list{
    list-style: none;
    margin-bottom: 40px;
}

.icon-section, img{
    display: inline-block;
    margin-left: 20px;
}

/* shared font */

.inter-font{
    font-family:  "Inter", sans-serif;
}

.noto-font{
    font-family: "Noto Serif", serif;
}

/* media query */

@media screen and (max-width: 576px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 0;
    }

    .nav-image{
        height: 38px;
        width: 63px;
        margin: 0 0 0 20px;
    }

    body{
        margin:0 auto;
        padding: 0;
    }

    .list-item, .list-items{
        display: none;
    }
    
    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-title{
        font-size: 22px;
        font-weight: bold;

    }

    .hero-describ{
        font-size: 14px;
        margin: 20px 10px 0 0;
       
    }

    .image-respon{
        width: 100%;
        margin: 0;
    }

    .main-section-title{
        font-size: 24px;
        font-weight: bold;
    }

    .main-section-describ{
        font-size: 14px;
        width: 336px;
        margin: 20px auto;
    }
    

    .card-section{
        grid-template-columns: repeat(2,1fr);
        padding: 0 20px;
        margin:0;
        gap: 20px;
    }

    .card img{
        width: 100%;
        margin: 0;
    }

    .card{
        width: 100%;
        margin: 0;
        height: 340px;
    }

    .card-name{
        font-size: 16px;
        font-weight: 500;
    }

    .card-price{
        font-size: 16px;
        font-family: bold;
    }

    .card-button{
        width: 100%;
        margin: 0;
    }

    .flower-plants-section{
        flex-direction: column;
        margin: 30px 0;
    }

    .flower-plants-section img{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }

    .flower-plant-section-title{
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
    }

    .flower-plant-section-describ{
        font-size: 14px;
    }


    .latest-deal{
        font-size: 24px;
        font-weight: bold;
    }

    .latest-desc{
        font-size: 14px;
    }

    .trust-seller{
        display: none;
    }

    .image-flex{
        flex-direction: column;
    }

    .image-point{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-bloom.png');
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        width: 351px; 
        height: 172px;
        border-radius: 16px; 
       
    }

    .image-point-2{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-ana.png');
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        width: 351px; 
        height: 172px;
        border-radius: 0; 
    }

    .image-point-3{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/deal-zabo.png');
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        width: 351px; 
        height: 172px;
        border-radius: 16px; 
        margin-top: 3px; 
    }

    .only-for-font-style{
        font-size: 20px;
        font-weight: bold;
    }

    .only-for-font{
        font-size: 16px;
        font-weight: 400;
    }

    .shop-now-1, .shop-now-2{
        font-size: 16px;
        font-weight: 500;
    }

    .shop-now{
        font-size: 16px;
        font-weight: 500;
    }

    .bunch-title{
        background-image: url('./assets/news-letter-bg.png');
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        width: 100%; 
        height: 275px;
        margin: 0 auto;
    }

    .bunch-heading{
        font-size: 20px;
        font-weight: bold;
        top: 40px;
    }

    input{
        width: 218px;
    }

    .subs-button{
        width: 103px; 
      }

    .footer-section{
        flex-direction: column;
    }

    .footer-describ{
        padding:0 0 0 20px;
    }
    
    ol{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px;
    }

    .icon-section{
        padding:0 0 0 20px;
    }

}
